<template>
  <div id="Footer">
    教務問題請聯絡：torilin0530@gmail.com<br>
    系統問題請聯絡：fishyuih707@gmail.com
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
  
</style>