<template>
  <div class="nav"></div>
</template>

<script>
export default {
}
</script>

<style scoped>
  .nav{flex: 0 0 300px;background-color: #eee;margin: 10px;border-radius: 10px;box-shadow: 2px 2px 2px 2px grey;display: none;}
</style>