<template>
  <div id="Bodyer">
    <Nav />
    <div class="main">
      <div class="board">
        <div class="board-title">
          <h1>MITW 入口網站公告</h1>
        </div>
        <div class="system-use">
          <h2>系統使用說明</h2>
          <p>查看參與之課程與活動資源(教材)：於左側導覽列點選[學習平台]</p>
          <p>報名各式課程與活動：於左側導覽列點選[課程與活動報名]</p>
        </div>
        <hr>
        <div class="board-table">
          <table border="1px">
            <thead>
              <tr>
                <th>公布時間</th>
                <th>公布內容</th>
                <th>公布人</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="board in boards" v-bind:key="board.id">
                <td>{{ board.time }}</td>
                <td>{{ board.text }}</td>
                <td>{{ board.who }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../../components/private/body/nav/Index";

export default {
  name: "HomePage",
  components: {
    Nav
  },
  data () {
    return {
      boards: [
        { id: 0, time: '2020/05/05', text: '預定 2020/6月 新開醫學數位內容', who: '管理員' }
      ]
    }
  }
}
</script>

<style scoped>
  .main{flex: 1 0 300px;background-color: #eee;margin: 10px;border-radius: 10px;box-shadow: 2px 2px 2px 2px grey;}
  .board{padding: 10px;}
  .board-table{overflow: scroll;height: 570px;background-color: white;}
  .board table {width: 100%;}
  .board table td {text-align: center;padding: 5px;}
  .board table td:nth-child(2) {text-align: left;}
</style>