<template>
  <div id="private-page">
    <PageHead />
    <router-view></router-view>
    <PageFoot />
  </div>
</template>

<script>
import PageHead from "../../components/private/head/Index";
import PageFoot from "../../components/public/foot/Index";

export default {
  name: "PrivateIndex",
  components: {
    PageHead,
    PageFoot
  }
}
</script>

<style scoped>
  #private-page{display: flex;flex-direction: column;height: 100vh;}

  #Header{flex: 0 0 50px;display: flex;justify-content: space-between;align-items: center;background-color: black;}
  #Bodyer{flex: 1 0 auto;display: flex;justify-content: center;}
  #Footer{flex: 0 0 100px;display: flex;justify-content: center;align-items: center;background-color: rgb(200, 200, 200);}
</style>