<template>
  <div id="Bodyer">
    <Nav />
    <div class="main">
      <form @submit.prevent="update">
        <ul class="user-information">
          <li>
            <div class="name">姓名</div>
            <input class="input" type="text" v-model="name" required>
          </li>
          <li>
            <div class="name">密碼</div>
            <input class="input" type="password" v-model="password">
          </li>
          <li>
            <div class="name">確認密碼</div>
            <input class="input" type="password" v-bind:placeholder="'欲更改密碼請輸入兩次'" v-model="password2">
          </li>
          <li>
            <div class="name">電子郵件</div>
            <input class="input" type="text" v-model="email">
          </li>
          <li>
            <div class="name">所屬學校(單位)</div>
            <input class="input" type="text" v-model="organization">
          </li>
          <li>
            <div class="tool">
              <button type="submit">保存</button>
            </div>        
          </li>
        </ul> 
      </form>
    </div>
  </div>
</template>

<script>
import Nav from "../../components/private/body/nav/Index";

export default {
  name: "UserInfoPage",
  components: {
    Nav
  },
  data() {
    return {
      name: "",
      password: "",
      password2: "",
      email: "",
      organization: "",
      organizationId: ""
    };
  },
  created() {
    this.get_person_data();
  },
  methods: {
    async get_person_data() {
      const person_get_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user`, {
        credentials: "include"
      });
      if(person_get_res.success) {
        this.name = person_get_res.data.name;
        this.email = person_get_res.data.email;
        this.organization = person_get_res.data.organization;
      }
    },
    async update() {

      if(this.password2 != this.password) {
        alert("兩次密碼不一致");
        return;
      }

      const put_data = {
        name: this.name,
        password: this.password,
        email: this.email,
        organization: this.organization
      }
      
      const person_put_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user`, {
        method: "PUT",
        headers: {
          "content-type": "application/json"
        },
        credentials: "include",
        body: JSON.stringify(put_data)
      });
      if(person_put_res.success) 
        alert("修改成功");
    }
  }
};
</script>

<style scoped>
  .main{flex: 1 0 300px;background-color: #eee;margin: 10px;border-radius: 10px;box-shadow: 2px 2px 2px 2px grey;}
  .user-information {list-style: none;}
  .user-information > li {width:fit-content;height:30px;margin-top: 30px;}
  .user-information > li > div {float:left;}
  .user-information > li .name {width: 250px;font-size: 30px;}
  .user-information > li .name::after {content: '：';}
  .user-information > li .input {min-width: 250px;margin-left: 10px;font-size: 30px;}
  .user-information > li .tool button {float: right;width:60px;height:30px;margin-left: 569px;}
</style>