<template>
  <div class="nav">
    <ul>
      <li v-for="link in serverLinks" v-bind:key="link.id" v-on:click="click_server_link(link.url)">
        {{ link.text }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "BodyerNav",
  data () {
    return {
      serverLinks: [
        { id: 0, text: "學習平台", url: process.env.VUE_APP_LMS_CLIENT },
        { id: 1, text: "課程與活動報名", url: process.env.VUE_APP_REGISTION_CLIENT },
      ]
    }
  },
  methods: {
    async click_server_link(url) {
      const redirect_get_res = await this.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/redirect?url=${url}`, {
        credentials: 'include'
      });
      if(!redirect_get_res.success) {
        alert(redirect_get_res.message);
      }
      else {
        window.open(`${url}?token=${redirect_get_res.data.token}`)
      }
    }
  }
}
</script>

<style scoped>
  ul{list-style-type: none;}
  li{margin:10px 10px 0 -30px;padding-left: 10px;background-color: rgb(180, 180, 180);border-radius: 5px;height: 35px;display: flex;align-items: center;cursor: pointer;font-weight: bold;}
  li:hover{color: white;}
</style>