<template>
  <div id="Bodyer">
    <div class="main">
      <div class="main-title">
        {{ course.course_name }}
      </div>
      <div class="content-list">
        <ul>
          <!-- <li>
            <div class="title">公告欄</div>
            <hr>
            <ul>
              <li v-for="(content, index) in course.note_content" v-bind:key="index">
                <a :href="document_server + content.url">{{ content.title }}</a>
              </li>
            </ul>
          </li> -->
          <li v-for="(contents, index) in course.content" v-bind:key="index">
            <div class="title">主題{{ +index + 1 }}</div>
            <hr>
            <ul>
              <li v-for="(content, index) in contents" v-bind:key="index">
                <a :href="document_server + content.url">{{ content.title }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <Nav />
  </div>
</template>

<script>
import Nav from "../../components/private/body/nav/Index";

export default {
  name: "CourseContent",
  components: {
    Nav
  },
  data() {
    return {
      document_server: process.env.VUE_APP_DOCUMENT_SERVER,
      course: {}
    }
  },
  created() {
    this.get_course_content();
  },
  methods: {
    async get_course_content() {
      const contents_get_res = await this.custom_fun.fetch(`${process.env.VUE_APP_LMS_SERVER}/course/content/${this.$route.params.cid}`, { credentials: 'include' });
      if(contents_get_res.success)
        this.course = contents_get_res.data;
      else
        this.$router.go(-1);
    }
  }
}
</script>

<style scoped>
  .main{flex: 1 0 auto;background-color: #eee;margin: 10px;border-radius: 10px;box-shadow: 2px 2px 2px 2px grey;}
  .main-title{margin:20px;border-bottom: 2px solid black;font-size: 2em;font-weight:bold;}

  .content-list ul{list-style: none;}
  .content-list > ul > li{margin: 10px 40px 30px 0;padding: 10px;border: 1px solid #dcdcdc;border-radius: 5px;background-color: whitesmoke;}
  .content-list li .title{font-size: 1.5em;font-weight: bold;margin: 0 10px;}
  .content-list a{text-decoration: none;color: blue;}
  .content-list a:hover{border-bottom: 1px solid blue;}
</style>