<template>
  <div id="page">
    <PageHead />
    <router-view></router-view>
  </div>
</template>

<script>
import PageHead from "../../components/private/head/Index";

export default {
  name: "PrivateIndex",
  components: {
    PageHead
  }
}
</script>

<style scoped>
  #page{display: flex;flex-direction: column;height: 100vh;}

  #Header{flex: 0 0 50px;display: flex;justify-content: space-between;align-items: center;background-color: black;}
  #Bodyer{flex: 1 0 auto;display: flex;justify-content: center;}
</style>