<template>
  <div id="Bodyer">
    <div class="main">
      <div class="main-title">
        我的課程
      </div>
      <div class="my-courses-list">
        <ul>
          <li v-for="course in my_courses" v-bind:key="course.id"><router-link :to="{ name: 'CourseContent', params: { cid: course.id }}">{{ course.name }}</router-link></li>
        </ul>
      </div>
    </div>
    <Nav />
  </div>
</template>

<script>
import Nav from "../../components/private/body/nav/Index";

export default {
  name: "MyCoursePage",
  components: {
    Nav
  },
  data() {
    return {
      my_courses: []
    }
  },
  created() {
    this.get_my_courses();
  },
  methods: {
    async get_my_courses() {
      const courses_get_res = await this.custom_fun.fetch(`${process.env.VUE_APP_LMS_SERVER}/course`, { credentials: 'include' });
      if(courses_get_res.success)
        this.my_courses = courses_get_res.data;
    }
  }
}
</script>

<style scoped>
  .main{flex: 1 0 auto;background-color: #eee;margin: 10px;border-radius: 10px;box-shadow: 2px 2px 2px 2px grey;}
  .main-title{margin:20px;border-bottom: 2px solid black;font-size: 2em;font-weight:bold;}

  .my-courses-list ul{list-style: none;}
  .my-courses-list li{margin: 10px 40px 0 0;padding: 5px 10px;border: 1px solid #dcdcdc;border-radius: 5px;}
  .my-courses-list li:hover{background-color: rgb(150, 150, 150);}
  .my-courses-list li > a{color: blue;text-decoration: none;font-size: 2em;font-weight: bold;}
  .my-courses-list li:hover > a{color: white;}
</style>