<template>
  <div id="app">
    <div id="Header">
      <img class="nav-btn" src="./assets/nav.png" v-on:click="showNav = !showNav">
    </div>
    <div id="Bodyer">
      <transition name="left-nav">
        <div id="left-nav" v-show="showNav">
          <ul>
            <li v-for="link in nav_links" v-on:click="link_click(link.path)" v-bind:key="link.id">{{ link.text }}</li>
            <li v-on:click="go_portal">入口網站</li>
          </ul>
        </div>
      </transition>
      <router-view id="body"></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      showNav: false,
      nav_links: [
        { id: 0, text: '首頁', path: '/' },
        { id: 1, text: '加選課程', path: '/course-list' },
        { id: 2, text: '我的課程', path: '/my-course' }
      ]
    }
  },
  methods: {
    go_portal() {
      window.location.href = process.env.VUE_APP_PORTAL_CLIENT;
    },
    link_click(path) {
      this.$router.push(path).catch(() => {});
    }
  }
}
</script>

<style>
  body, #app{margin: 0;padding: 0;}
  #app{display: flex;height: 100vh;flex-direction: column;}

  #Header{position: fixed;width: 100%;height: 35px;background-color: white;}
  #Header .nav-btn{width: 30px;height: 30px;}
  
  #Bodyer{margin-top: 35px;flex: 1 0 auto;background-color: whitesmoke;}
  
  #left-nav{position: fixed;background-color: rgb(184, 184, 184);top: 35px;width: 150px;height: 100vh;z-index: 999;}
  #left-nav ul{list-style: none;margin: 0;padding: 0;}
  #left-nav ul li{margin: 10px 0px;padding:10px 0 10px 20px;text-align: left;font-weight: bold;font-size: 20px;}
  #left-nav ul li:hover{background-color: rgb(150, 150, 150);cursor: pointer;}
  
  .left-nav-enter-active {transition: all .3s ease;}
  .left-nav-leave-active {transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);}
  .left-nav-enter, .left-nav-leave-to{transform: translateX(10px);opacity: 0;}
</style>
