<template>
  <div id="Header">
    <div class="header-nav">
      <span>MITW Portal</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      nav_portal_url: process.env.VUE_APP_PORTAL_CLIENT
    }
  }
};
</script>

<style scoped>
  span{font-size: 1.5em;color: white;margin: 0 10px;cursor: context-menu;}
</style>