<template>
  <div id="Header">
    <div class="header-nav">
      <router-link to="/">MITW Portal</router-link>
      <router-link to="/userinfo">用戶資訊</router-link>
    </div>
    <div class="header-user">
      <a v-on:click="logout">登出</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  methods: {
    async logout() {
      const logout_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user/logout`, {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        credentials: 'include'
      }); 
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
  a{text-decoration: none;font-size: 1.5em;color: grey;margin: 0 10px;cursor: pointer;}
  a:hover{color: white;}
</style>