<template>
  <div>
    <div class="board">
      <div class="title">
        <h1>MITW 課程與活動報名系統公告</h1>
      </div>
      <hr>
      <div>
        <h2>系統使用說明</h2>
        <p>報名課程：於左側導覽列點選[加選課程]即可查看目前開設的全部課程列表，點選課程後方的[加選]按鈕即可</p>
        <p>查看已報名課程：於左側導覽列點選[我的課程]即可查看您目前參與的全部課程列表</p>
        <p>回到入口網站：於左側導覽列點選[入口網站]即可回到入口網站</p>
        <hr>
      </div>
    </div>
  </div>
</template>

<style>
  .board {
    background-color: #fff;
    border-radius: 4px;
    height: 800px;
    margin: 50px 50px;
    padding: 10px 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  }

  .important {color: red;font-weight: bold;}
</style>