<template>
  <div id="Header">
    <div class="header-nav">
      <router-link to="/">MITW LMS</router-link>
      <a v-bind:href="portal_client">入口網站</a>
    </div>
    <div class="header-user">
      <span>歡迎</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      portal_client: process.env.VUE_APP_PORTAL_CLIENT
    }
  }
};
</script>

<style scoped>
  a{text-decoration: none;font-size: 1.5em;color: grey;margin: 0 10px;cursor: pointer;}
  a:hover{color: white;}
  span{color: white;font-size: 1.5em;margin-right: 10px;}
</style>