<template>
  <div>
    <table class="course-list-table" border="1">
      <thead>
        <tr>
          <th>課程代碼</th>
          <th>課程名稱</th>
          <th>選課狀態</th>
          <th>課程詳情</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        <course-list v-for="c in courses" v-bind:course="c" v-bind:key="c.id"></course-list>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      courses: []
    }
  },
  created() {
    this.get_course_list();
  },
  methods: {
    get_course_list() {
      fetch(`${process.env.VUE_APP_REGISTION_SERVER}/course`, {
        method: 'GET',
        headers: {
          'content-type': 'application/json'
        },
        credentials: 'include'
      })
        .then(res => res.json())
        .then(result => {
          if(!result.success) {
            alert(result.message);
            window.location.href = process.env.VUE_APP_SELF_PORTAL_CLIENT;
          }
          this.courses = result.data;
        })
        .catch(() => alert("伺服器連接失敗"));
    }
  },
  components: {
    'course-list': {
      props: ['course'],
      template: `
        <tr> 
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.status == true ? '可選' : '不可選' }}</td>
          <td><a v-bind:href="course.detail" v-if="course.detail">詳情</a></td>
          <td><button class="add" v-if="course.status" v-on:click="register(course.id)">加選</button></td>
        </tr>`,
      methods: {
        register(cid) {
          fetch(`${process.env.VUE_APP_REGISTION_SERVER}/course/register?courseId=${cid}`,{
            method: 'POST',
            headers: {
              'content-type': 'application/json'
            },
            credentials: 'include'
          })
            .then(res => res.json())
            .then(result => {
              if(!result.success) {
                alert(result.message);
                if(result.errorCode != "REGISTRATION-0001")
                  window.location.href = process.env.VUE_APP_SELF_PORTAL_CLIENT;
              }
              else {
                alert("加選成功");
              }
            })
            .catch(() => alert("伺服器連接失敗"));
        }
      }
    }
  }
}
</script>

<style>
  .course-list-table{margin: 40px auto;width: 80%;font-size: 1.6em;}
  
  .course-list-table td{padding: 10px;text-align: center;width: 150px;}
  .course-list-table td:nth-child(2){text-align: left;width: auto;}
  .course-list-table .add {width: 100px;height: 30px;background-color:#77d42a;color: black;font-size: 0.8em;}
  .course-list-table .add:hover {background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);background-color:#5cb811;}
</style>