<template>
  <div>
    <table class="my-course-list-table" border="1">
      <thead>
        <tr>
          <th>課程代碼</th>
          <th>課程名稱</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        <course-list
          v-for="course in courses"
          v-bind:course="course"
          v-bind:key="course.id"
          @re-view="getCourse"
        ></course-list>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      courses: [],
    };
  },
  created() {
    this.getCourse();
  },
  methods: {
    getCourse() {
      fetch(`${process.env.VUE_APP_REGISTION_SERVER}/course/my`, {
        method: "GET",
        headers: {
          "content-type": "application/json",
        },
        credentials: "include",
      })
        .then((res) => res.json())
        .then((result) => {
          if (!result.success) {
            alert(result.message);
            window.location.href = process.env.VUE_APP_PORTAL_CLIENT;
          }
          this.courses = result.data;
        })
        .catch(() => alert("伺服器連接失敗"));
    },
  },
  components: {
    "course-list": {
      props: ["course"],
      emits: ["re-view"],
      template: `
        <tr> 
          <td>{{ course.id }}</td>
          <td><span>{{ course.name }}<span></td>
          <td><button class="remove" v-on:click="unregister(course.id)">退選</button></td>
        </tr>`,
      methods: {
        unregister(cid) {
          fetch(
            `${process.env.VUE_APP_REGISTION_SERVER}/course/unRegister?courseId=${cid}`,
            {
              method: "POST",
              headers: {
                "content-type": "application/json",
              },
              credentials: "include",
            }
          )
            .then((res) => res.json())
            .then((result) => {
              if (!result.success) {
                alert(result.message);
              } else {
                alert("退選成功");
                this.$emit("re-view");
              }
            })
            .catch(() => alert("伺服器連接失敗"));
        },
      },
    },
  },
};
</script>

<style>
.my-course-list-table {
  margin: 40px auto;
  width: 80%;
  font-size: 1.6em;
}

.my-course-list-table td {
  padding: 10px;
  text-align: center;
  width: 150px;
}
.my-course-list-table td:nth-child(2) {
  text-align: left;
  width: auto;
}
.my-course-list-table .remove {
  width: 100px;
  height: 30px;
  background-color: #fe1a00;
  color: black;
  font-size: 0.8em;
}
.my-course-list-table .remove:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}

.link {
  color: black;
  cursor: pointer;
}
.link:hover {
  color: blue;
  border-bottom: 1px solid blue;
}
</style>
