<template>
  <div id="Bodyer">
    <div class="input-from">
      <h1>重設密碼</h1>
      <form @submit.prevent="reset">
        <div class="item">
          <label>新的密碼</label>
          <input type="password" v-bind:placeholder="'密碼'" v-model="password" required>
        </div>
        <div class="item">
          <label>確認密碼</label>
          <input type="password" v-bind:placeholder="'重新輸入密碼'" v-model="password2" required>
        </div>
        <div class="tool">
          <button type="submit">重設密碼</button>
        </div>
      </form>
      <p>
        <span>已經有帳號了嗎?<router-link to="/login">登入</router-link></span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ForgetResetPage",
  data () {
    return {
      password: '',
      password2: '',
    }
  },
  methods: {
    async reset() {

      if(this.password2 != this.password) {
        alert('兩次密碼不一致');
        return;
      }

      const token = this.$route.query.token;

      const forgetReset_put_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user/forget-reset`, {
        method: 'PUT',
        headers: {
          'content-type': 'application/json',
          'authorization': 'Bearer ' + token
        },
        body: JSON.stringify({ password: this.password }),
        credentials: 'include'
      });
      if(forgetReset_put_res.success)
        alert('重設成功');
    }
  }
}
</script>