<template>
  <div id="Bodyer">
    <div class="input-from">
      <h1>重設密碼</h1>
      <form @submit.prevent="reset">
        <div class="item">
          <label>Email</label>
          <input type="text" v-bind:placeholder="'電子郵件'" v-model="email" required>
        </div>
        <div class="tool">
          <button type="submit">重設密碼</button>
        </div>
      </form>
      <p>
        <span>已經有帳號了嗎?<router-link to="/login">登入</router-link></span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ForgetPage",
  data () {
    return {
      email: '',
    }
  },
  methods: {
    async reset() {
      const forget_post_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user/forget`, {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify({ email: this.email }),
        credentials: 'include'
      })
      if(forget_post_res.success)
        alert('已發送重設密碼信件');
    }
  }
}
</script>

<style scoped>

</style>