<template>
  <div id="public-page">
    <PageHead />
    <router-view></router-view>
    <PageFoot />
  </div>
</template>

<script>
import PageHead from "../../components/public/head/Index";
import PageFoot from "../../components/public/foot/Index";

export default {
  name: "PublicIndex",
  components: {
    PageHead,
    PageFoot
  }
}
</script>

<style scoped>
  #public-page{display: flex;flex-direction: column;height: 100vh;}

  #Header{flex: 0 0 50px;display: flex;justify-content: space-between;align-items: center;background-color: black;}
  #Bodyer{flex: 1 0 auto;display: flex;justify-content: center;}
  #Footer{flex: 0 0 100px;display: flex;justify-content: center;align-items: center;background-color: rgb(200, 200, 200);}
</style>
<style>
  .input-from {width: fit-content;border: 1px solid black;margin: 80px;padding: 20px;text-align: center;}
  .input-from .item {text-align: left;margin-bottom: 20px;width: 350px;}
  .input-from h1 {text-align: center;}
  .input-from form label {float: left;text-align: left;width: 350px;margin-bottom: 5px;}
  .input-from form input[type="text"], .input-from form input[type="password"] {width: 342px;height: 25px;}
  .input-from .tool button {width: 100%;}
  .input-from .tool a {margin-right: 10px;}
</style>