<template>
  <div id="Bodyer">
    <div class="input-from">
      <h1>登入</h1>
      <form @submit.prevent="login">
        <div class="item">
          <label>帳號</label>
          <input type="text" v-bind:placeholder="'帳號'" v-model="username" required>          
        </div>
        <div class="item">
          <label>密碼</label>
          <input type="password" v-bind:placeholder="'密碼'" v-model="password" required>
        </div>
        <div class="tool">
          <button type="submit">登入</button>
        </div>
      </form>
      <p>
        <span><router-link to="/forget">忘記帳號?</router-link></span><br>
        <span>還沒有帳號嗎?<router-link to="/signup">註冊</router-link></span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginPage",
  data() {
    return {
      username: "",
      password: ""
    }
  },
  methods: {
    async login() {
      const login_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user/login`, {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        credentials: 'include',
        body: JSON.stringify(this.$data)
      });
      if(login_res.success)
        this.$router.push("/");        
    }
  }
}
</script>

<style scoped>
  
</style>