<template>
  <div id="Bodyer">
    <div class="input-from">
      <h1>註冊</h1>
      <div class="item">
        <h4>高中升大學的同學&lt;身分&gt;可先選擇大學以上，學校和系所填預計就讀的大學，大學學號未知可先填寫高中時期的學號。</h4>
      </div>
      <form @submit.prevent="signup">
        <div class="item">
          <label>帳號</label>
          <input type="text" v-bind:placeholder="'帳號'" v-model="username" required>
        </div>
        <div class="item">
          <label>密碼</label>
          <input type="password" v-bind:placeholder="'密碼'" v-model="password" required>
        </div>
        <div class="item">
          <label>確認密碼</label>
          <input type="password" v-bind:placeholder="'重新輸入密碼'" v-model="password2" required>
        </div>
        <div class="item">
          <label>姓名</label>
          <input type="text" v-bind:placeholder="'全名'" v-model="name" required>
        </div>
        <div class="item">
          <label>Email</label>
          <input type="text" v-bind:placeholder="'電子郵件'" v-model="email" required>
        </div>
        <div class="item">
          <label>身分</label>
          <input type="radio" name="role" value="1" v-model="role" required><span>國高中</span>
          <input type="radio" name="role" value="2" v-model="role" required><span>大學以上</span>
          <input type="radio" name="role" value="3" v-model="role" required><span>教師</span>
          <input type="radio" name="role" value="4" v-model="role" required><span>職員or醫生</span>
        </div>
        <div v-if="role && role < 3">
          <div class="item">
            <label>學校</label>
            <input type="text" v-bind:placeholder="'就讀學校'" v-model="organization" required>
          </div>
          <div class="item">
            <label>年級</label>
            <select name="grade" v-model="grade" required>
              <option v-for="i in 9" v-bind:key="i">{{ i }}</option>
            </select>
          </div>
          <div class="item">
            <label>學號</label>
            <input type="text" v-bind:placeholder="'學號'" v-model="sid" required>
          </div>
          <div class="item" v-if="role == 2">
            <label>系所</label>
            <input type="text" v-bind:placeholder="'系所名稱'" v-model="department" required>
          </div>
        </div>
        <div v-if="role == 3">
          <div class="item">
            <label>學校</label>
            <input type="text" v-bind:placeholder="'任職學校'" v-model="organization" required>
          </div>
          <div class="item">
            <label>職位</label>
            <input type="text" v-bind:placeholder="'工作職位'" v-model="position" required>
          </div>
        </div>
        <div v-if="role == 4">
          <div class="item">
            <label>任職組織</label>
            <input type="text" v-bind:placeholder="'任職公司或醫院'" v-model="organization" required>
          </div>
          <div class="item">
            <label>職位</label>
            <input type="text" v-bind:placeholder="'工作職位'" v-model="position" required>
          </div>
        </div>
        <div class="tool">
          <button type="submit">註冊</button>
        </div>
      </form>
      <p>
        <span>已經有帳號了嗎?<router-link to="/login">登入</router-link></span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "SignupPage",
  data () {
    return {
      organizations: [],
      //**註冊資訊
      //共通
      username: '',
      password: '',
      password2: '',
      name: '',
      email: '',
      role: '',  //用戶身分 => 1:國高中 2大學以上 3:教師 4:業界職員
      organization: '',
      //學生
      grade: '',
      sid: '',
      department: '',
      //教師or職員
      position: '',
    }
  },
  methods: {

    async signup() {

      if(this.password2 != this.password) {
        alert('兩次密碼不一致');
        return;
      }

      let req_data = {
        username: this.username,
        password: this.password,
        name: this.name,
        email: this.email,
        role: this.role,
        organization: this.organization
      };
      switch(this.role) {
        case '1':
          req_data.grade = this.grade;
          req_data.sid = this.sid;
          break;
        case '2':
          req_data.grade = this.grade;
          req_data.sid = this.sid;
          req_data.department = this.department;
          break;
        case '3':
        case '4':
          req_data.position = this.position;
          break;
      }

      const signup_res = await this.custom_fun.fetch(`${process.env.VUE_APP_PORTAL_SERVER}/user/signup`, {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify(req_data),
        credentials: 'include'
      });
      if(signup_res.success) {
        alert('註冊成功');
        this.$router.push('/login');
      }
    }
  }
}
</script>

<style scoped>

</style>